= form_for game_system, role: "form" do |f|
  .form-group
    %fieldset
      %legend= t(:new_game_system)
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", value: game_system.name, placeholder: "Name"
      %div
        = f.submit "Create", class: "btn btn-primary"