= form_for character, role: "form" do |f|
  .form-group
    %fieldset
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", placeholder: "Character Name"
      .form-group
        = f.label :campaign_id, class: "control-label"
        = f.select :campaign_id, campaign_options(character), {}, class:"form-control"
      %div
        = f.submit "Save", class: "btn btn-primary"
      = f.hidden_field :player_id, value: character.player_id || current_user.id