%table{class: "table table-striped table-condensed table-hover"}
  %thead
    %tr
      %th= t(:character_name)
      / %th= t(:player)
      %th= t(:campaign)
      %th
  %tbody
    - @characters.each do |character|
      %tr
        %td= link_to character.name, player_character_path(@player, character), 'data-no-turbolink' => true
        / %td= "#{character.player.first_name} #{character.player.last_name.first}"
        %td= character.campaign.try(:name) || t(:no_campaign)        
        %td
          - if current_user == @player
            = link_to t(:delete), player_character_path(@player, character), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-right"
            = link_to t(:edit), edit_player_character_path(@player, character), class:"btn btn-info pull-right"
    - if current_user == @player       
      %tr
        %td= link_to t(:add_character), new_player_character_path, 'data-no-turbolink' => true
        %td
        %td