= form_for player, method: :put, role: "form", class: "sign-up" do |f|
  .form-group
    %fieldset
      %legend= t(:player_info)
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: "form-control", value: player.first_name, placeholder: "First Name"
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: "form-control", value: player.last_name, placeholder: "Last Name"
      .form-group
        = f.label :email
        = f.text_field :email, class: "form-control", value: player.email, placeholder: "Email"
      %div
        = f.submit "Save", class: "btn btn-primary"