= form_for player, method: :put, url: {action: "update_password"}, role: "form", class: "sign-up" do |f|
  .form-group
    %fieldset
      %legend= t(:player_info)
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: "form-control", placeholder: "Current Password"
      .form-group
        = f.label :password
        = f.password_field :password, class: "form-control", placeholder: "New Password"
      .form-group
        = f.label :confirm_password
        = f.password_field :confirm_password, class: "form-control", placeholder: "Confirm New Password"
      %div
        = f.submit "Save", class: "btn btn-primary"