= form_for :player, url: {action: :create_registration}, role: "form", class: "sign-up" do |f|
  .form-group
    %fieldset
      %legend= t(:new_player)
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: "form-control", placeholder: "First Name"
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
      .form-group
        = f.label :email
        = f.text_field :email, class: "form-control", placeholder: "Email"
      .form-group
        = f.label :password
        = f.password_field :password, class: "form-control", placeholder: "Password"
      .form-group
        = f.label :confirm_password
        = f.password_field :confirm_password, class: "form-control", placeholder: "Password"
      %div
        = f.submit "Sign Up", class: "btn btn-primary"