- journals.each do |journal|
	%tr
		%td
			%div{id:"#{journal.id}", }
				%div{"data-toggle"=> "collapse", "data-target"=>"#accordion#{journal.id}", class:"accordion-toggle"}
					.h3
						=journal.name
					.badge
						="#{pluralize(journal.appearances.count, "character")}"
				.div{id:"accordion#{journal.id}", class:"hiddenRow accordion-body collapse#{' in' if journal.newest?}"}
					%table{class:"center-table"}
						%thead
						%tbody
							=render 'appearances', appearances: journal.appearances, journal: journal					