%table{class: "table table-striped table-condensed table-hover"}
  %thead
    %tr
      %th= t(:chapter_name)
      %th{colspan: 3}
  %tbody
    - chapters.each do |chapter|
      %tr
        %td= link_to chapter.name, campaign_chapter_path(@campaign, chapter), 'data-no-turbolink' => true
        %td
        - if current_user == @campaign.owner
          %td
            = link_to t(:edit), edit_campaign_chapter_path(@campaign, chapter), class:"btn btn-info pull-right"
          %td
            = link_to t(:delete), campaign_chapter_path(@campaign, chapter), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-left"
= render 'chapter_form', campaign: @campaign if current_user == @campaign.owner
