= form_for campaign, role: "form" do |f|
  .form-group
    %fieldset
      %legend= t(:new_campaign)
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", placeholder: "Campaign Name"
      .form-group
        = f.label :game_system_id, class: "control-label"
        = f.select :game_system_id, game_system_options(campaign), {}, class:"form-control"
        = f.hidden_field :owner_id, value: campaign.owner_id || current_user.id
      %div
        = f.submit "Create", class: "btn btn-primary"