%table{class: "table table-striped table-condensed table-hover"}
  %thead
    %tr
      %th= t(:campaign_name)
      %th= t(:owner)
      %th= t(:game_system)
      %th
      %th
      %th{colspan: 5}
  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= link_to campaign.name, campaign_path(campaign), 'data-no-turbolink' => true
        %td= "#{campaign.owner.first_name} #{campaign.owner.last_name.first}"
        %td= campaign.game_system.name
        %td
          - if campaign.owner == current_user
            = link_to t(:edit), edit_campaign_path(campaign), class:"btn btn-info pull-right"
        %td
          - if campaign.owner == current_user
            = link_to t(:delete), campaign_path(campaign), method: :delete, class:"btn btn-danger pull-left"