= form_for play_session, role: "form" do |f|
  .form-group
    %fieldset
      .form-group
        = f.label :description
        = f.text_field :description, class: "form-control", placeholder: "Description"
      %div
        = f.submit "Save", class: "btn btn-primary"
      = f.hidden_field :journal_id, value: play_session.journal_id || @journal.id