%table{class: "table table-striped table-condensed table-hover"}
  %thead
    %tr
      %th= t(:play_session_name)
      %th= t(:journal)
      %th= t(:campaign)
      %th
      %th{colspan: 5}
  %tbody
    - @play_sessions.each do |play_session|
      %tr
        %td= link_to play_session.description, play_session_path(play_session.journal.campaign), 'data-no-turbolink' => true
        %td= play_session.journal.name
        %td= play_session.campaign.name
        %td
          - if current_user == play_session.campaign.owner
            = link_to t(:delete), play_session_path(play_session), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-right"
          - if current_user == play_session.campaign.owner
            = link_to t(:edit), edit_play_session_path(play_session), class:"btn btn-info pull-right"
    %tr
      %td= link_to t(:add_play_session), new_play_session_path, 'data-no-turbolink' => true
      %td
      %td
      %td
      %td